extends layout 
block content
        h2 Fitness Center Detail 
        p Name = #{fitnessCenter.name}
        p Phone Number = #{fitnessCenter.phoneNum}
        p Location = #{fitnessCenter.location}
        
        h2 Ratings 
        ol
          each rating in fitnessCenter.ratings
            li
              p Customer Name: #{rating.Customer.name} 
              p Point: #{rating.point} 
              p Comment: #{rating.comment}  